<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Debug" value="false"/>
    <add key="KodiUsername" value="kodi"/>
    <add key="KodiPassword" value="kodi"/>
    <add key="KodiHost" value="http://localhost"/>
    <add key="KodiPort" value="80"/>
  </appSettings>
</configuration>