<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Debug" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KodiHost" value="http://192.168.1.75" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KodiPort" value="8080" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>